{% extends 'base.html' %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}

<section>

    <h1>AI Performance Dashboard</h1>

    <p>
        Track your interview growth and scores.
    </p>

</section>

<hr>

<section>

    <div>
        <h2>Interviews Taken</h2>
        <h3>12</h3>
    </div>

    <div>
        <h2>Average Score</h2>
        <h3>84%</h3>
    </div>

    <div>
        <h2>Confidence Level</h2>
        <h3>Good</h3>
    </div>

</section>

<hr>

<section>

    <h2>Recent Activity</h2>

    <ul>
        <li>Software Engineer Interview</li>
        <li>HR Mock Interview</li>
        <li>Data Analyst Practice</li>
    </ul>

</section>

{% endblock %}